[Container]
ContainerName=codeanalyst
Image=docker.io/safrano9999/codeanalyst
PublishPort=11000:11000
#Network=host
#Volume=/:/host:ro

Exec=uvicorn webui:app --host 127.0.0.1 --port 11000
#AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=30

[Install]
WantedBy=default.target
